#{$btn-scope} {
    border-radius: $border-radius-base;
    border: 1px solid map-deep-get($btn-colors, "btn-primary", "border-color");
    background-color: map-deep-get($btn-colors, "btn-primary", "background-color");
    color: map-deep-get($btn-colors, "btn-primary", "color");
    display: inline-block;
    line-height: 1;
    padding: map-deep-get($btn-sizes, "btn-default", "padding");
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin: 0.1em;

    &:visited {
        color: map-deep-get($btn-colors, "btn-primary", "color");
    }

    &:hover {
        text-decoration: none;
        background-color: map-deep-get($btn-colors, "btn-primary", "hover-background-color");
        color: map-deep-get($btn-colors, "btn-primary", "hover-color");
        text-decoration: none;
    }

    &:active, &:focus {
        background-color: map-deep-get($btn-colors, "btn-primary", "active-background-color");
        text-decoration: none;
    }

    @each $button-color, $button-details in $btn-colors {
        &.#{$button-color} {
            color: map-get($button-details, "color");
            background-color: map-get($button-details, "background-color");
            border: 1px solid map-get($button-details, "border-color");
            @include transition(background-color, .1s);

            &:hover {
                color: map-get($button-details, "hover-color");
                background-color: map-get($button-details, "hover-background-color");
                border: 1px solid map-get($button-details, "hover-border-color");
            }

            &:active, &:focus {
                color: map-get($button-details, "active-color");
                background-color: map-get($button-details, "active-background-color");
                border: 1px solid map-get($button-details, "active-border-color");
            }

            &:visited {
                color: map-get($button-details, "color");
            }
        }
    }

    @each $button-size, $button-details in $btn-sizes {
        &.#{$button-size} {
            font-size: map-get($button-details, "font-size");
            padding: map-get($button-details, "padding");
        }
    }

    &.btn-full-width {
        display: block;
        width: 100%;
    }

    &.btn-no-radius {
        border-radius: 0;
    }
}